<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">

    <div *ngFor="let education of educations ; let j = index"
      class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><span class="text-info" >
          <a href="{{education.url}}" role="button" rel="noopener noreferrer" target="_blank">{{education.name}}, {{education.country}} </a>

        </span>
        </h3>
        <div class="subheading mb-3">{{education.programme}}</div>
        <p>{{education.gpaLabel}} {{education.gpaScore}}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{education.startDate | date:'LLLL y'}} - {{education.finishDate | date:'LLLL y'}}</span>
      </div>
    </div>

    </div>


  </div>
</section>

