<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="chess">
  <div class="my-auto">
    <h2 class="mb-5">Chess</h2>

    <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <input type="text" [(ngModel)]="filteredPlayer" placeholder="Enter player name">
      <br>
    <h4>
      <span class="text-info">Troy Chess League</span>
    </h4>

    <table class="table table-hover table-responsive-sm">
      <thead>
      <tr>
        <td>

          </td>
        <td >Player</td>
        <td>Blitz</td>
        <td>Bullet</td>
<!--
        <td>Days</td>-->
        <td>Seen At </td>
      </tr>
      </thead>
      <tr data-toggle="tooltip" data-placement="top" title="click for the games!"
        (click)="selectedUser(user.username)"
        *ngFor="let user of users | filter:filteredPlayer:'username'; let i = index"
        >
        <td>

          <a id="link-1" href="#gamesTable" ng-click="selectedUser(user.username)">
          <i  class="fas fa-chess-king"></i>
          </a>
        </td>

        <td data-toggle="tooltip" data-placement="bottom" title="{{user.username}} plays for {{user.playTime / (3600 * 24) | number:'1.0-2' }} days"
          *ngIf="user.online">

          {{ i + 1 }}- <span ngClass="badge badge-pill badge-success">

            {{user.username | shorten:10 }}</span>

        </td>
        <td data-toggle="tooltip" data-placement="bottom" title="{{user.username}} plays for {{user.playTime / (3600 * 24) | number:'1.0-2' }} days"
          *ngIf="!user.online">

          {{ i + 1 }}- {{user.username | shorten:10 }}
        </td>

        <td data-toggle="tooltip" data-placement="bottom" title=" Rapid: {{user.rapid}} - Classical: {{user.classical}} - Puzzle: {{user.puzzle}}"
        >{{user.blitz}} </td>
        <td>{{user.bullet}} </td>





        <!--<td>{{user.playTime / (3600 * 24) | number:'1.0-2' }}</td>-->
        <td data-toggle="tooltip" data-placement="bottom" title="{{user.seenAt | date:'short' }}">
          {{user.seenAt | date:'H:mm - MMM d' }}</td>
      </tr>



    </table>


</div>
    <div class="shadow-sm p-3 mb-5 bg-white rounded" id="gamesTable">


      <table class="table table-responsive-sm">
        <thead>
        <tr>
          <td>White vs Black </td>
          <td> Winner </td>
          <td>Opening</td>
          <td>Time</td>

        </tr>
        </thead>
        <tr  *ngFor="let game of selectedGames">

          <td data-toggle="tooltip" data-placement="bottom" title="{{game.players['white'].user.id }} - {{game.players['black'].user.id}}">

            <a href="#exampleModal" (click)="openModal(game.id)" data-toggle="modal" data-target="#exampleModal">
            {{game.players['white'].user.id | shorten:6 }}({{game.players['white'].rating}}) vs {{game.players['black'].user.id | shorten:6}}({{game.players['black'].rating}})
            </a>
          </td>

          <td data-toggle="tooltip" data-placement="bottom" title="status: ({{game.status}}) time control: ({{game.clock.initial / 60}} + {{game.clock.increment}})"
            *ngIf="game.status=='started' ">
            {{game.winner }} (<span ngClass="badge badge-pill badge-success">
            {{game.speed | shorten:6}}
               </span>)
          </td>
          <td data-toggle="tooltip" data-placement="bottom" title="status: ({{game.status}}) time control: ({{game.clock.initial / 60}} + {{game.clock.increment}})"
            *ngIf="game.status!='started' ">
            {{game.winner }} ({{game.speed | shorten:6}})
          </td>

          <td data-toggle="tooltip" data-placement="top" title="{{game.opening.eco}}:{{game.opening.name}}">{{game.opening.name | shorten:10}}</td>
          <td data-toggle="tooltip" data-placement="bottom" title="{{game.lastMoveAt | date:'short' }}">
            {{game.lastMoveAt | date:'H:mm'}} </td>
        </tr>


      </table>


    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

                  <iframe width=400 height=400 frameborder=0

                          [src]="this.choosenGame | sanitizer"
                  ></iframe>

                </div>


              </div>


            </div>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>-->
        </div>
      </div>

    </div>
    <!-- Modal Ends -->
    </div>
</section>
