<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">{{about.name}}
      <span class="text-primary">{{about.surname}}</span>
    </h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="subheading mb-5">{{about.address}}
      <a href="mailto:ozan.senturk@gmail.com">{{about.email}}</a>
    </div>
    <p class="lead mb-5">{{about.summary}}</p>
    <div class="social-icons">
      <a href="{{about.linkedin}}" rel="noopener noreferrer" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="{{about.github}}" rel="noopener noreferrer" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="{{about.tweeter}}" rel="noopener noreferrer" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>

    </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <a href="https://choosealicense.com/licenses/mit/">MIT License</a>
         <br>
        © 2018 Copyright: <a href="https://www.ozansenturk.com"> Sentrworks</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
</section>

