<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <input type="text" [(ngModel)]="filteredCategory" placeholder="Enter skill" >

    <br><br>

    <ul class="list-group list-group-flush">

      <li class="list-group-item"

        *ngFor="let skill of skills | filter:filteredCategory:''; let j = index"
        >
        <strong>
            {{ skill.category }} :
        </strong>


          <span [ngClass]="badgeClassTypes[j % skills.length]"
            *ngFor="let item of skill.skillSet; let i = index"
            >{{ item }}<span *ngIf="i < skill.skillSet.length-1"> </span>

          </span>

      </li>


    </ul>
    </div>
  </div>
</section>
