<div class="container-fluid p-0">


  <app-navigation></app-navigation>

    <app-about></app-about>


     <app-education></app-education>
  <app-awards></app-awards>
  <app-skills></app-skills>
  <app-podcasts></app-podcasts>
  <app-chess></app-chess>

</div>
