<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Certifications</h2>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">

      <input type="text" [(ngModel)]="filteredCategory" placeholder="Enter category">

      <br><br>
      <table class="table table-responsive-sm">
        <thead>
        <tr>

          <td>

          </td>
          <td><h4><span class="text-info" >Name</span></h4></td>
          <td><h4><span class="text-info" >Authority</span></h4></td>
          <td><h4><span class="text-info" >Category</span></h4></td>
          <td><h4><span class="text-info" >Date</span></h4></td>
        </tr>
        </thead>
<tbody>
      <tr
        *ngFor="let award of awards | filter:filteredCategory:'category'; let i = index">

        <td>
          <i class="fas fa-trophy text-warning"></i>
        </td>
        <td data-toggle="tooltip" data-placement="bottom" title="{{award.name}}: click to verify">
           <a href="{{award.url}}" role="button" rel="noopener noreferrer" target="_blank">{{award.name | shorten:17}} </a>
        </td>

        <td data-toggle="tooltip" data-placement="bottom" title="click to get more info about the authority">
        <a href="{{award.authorityUrl}}" role="button" rel="noopener noreferrer" target="_blank">{{award.authority}} </a>
      </td>
        <td>

          {{award.category}}
        </td>
        <td data-toggle="tooltip" data-placement="bottom" title="{{award.date | date:'MMM d, y' }}">
        {{award.date | date:'MMM y'}}</td>

      </tr>



</tbody>
    </table>
    </div>
  </div>
</section>
